@tailwind base;
@tailwind components;
@tailwind utilities;

.with-before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  background-color: #111827;
  z-index: 20;
  transform: translateX(-100%);
}
